@font-face {
  font-family: "Crake";
  src:
    url("../fonts/Crake-SemiBold.woff") format("woff"),
    url("../fonts/Crake-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Remixa";
  src:
    url("../fonts/Remixa-Semibold.woff") format("woff"),
    url("../fonts/Remixa-Semibold.woff2") format("woff2");
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: black;
}

h2 {
  font-family: "Remixa", sans-serif;
  font-weight: 400;
}

.header--title {
  font-family: "Crake", sans-serif;
  font-size: 7vw;
  color: black;
  margin-top: 0;
  margin-left: 2rem;
  align-items: center;

}

.header--logo {
  margin-right: 2rem;
  height: 5vw;
}

.header--box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.intro--card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.about {
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.about--circles {
  padding: 2rem;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  gap: 16px;

}

.card {
  background-color: white;
  border-radius: 20px;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  width: 50%;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: rgba(242, 243, 244, 1);
}
